h1 {
  justify-content: center;
  display: flex;
}
.container {
  display: flex;
  justify-content: center;
}
#green {
  border: 1px solid gray;
  background: #093320;
  padding: 100px;
  height: 150px;
  margin: 100px 10px 15px 50px;
}

#secondcolor {
  border: 1px solid gray;
  background: #4a89b5;
  padding: 100px;
  margin-left: 100px;
}

#third-color {
  border: 1px solid gray;
  background: #acb9c2;
  padding: 100px;
  margin-left: 100px;
}

#fourth-round {
  border: 1px solid gray;
  background: #fdfffc;
  padding: 100px;
  margin-left: 100px;
}
